@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

:root {
  /* Neutral color */
  --backgroundPrimary: hsl(0, 0%, 7%);
  --whiteColor: hsl(0, 0%, 100%);
  --hardBlack: hsl(0, 0%, 15%);
  --mediumBlack: hsl(240, 3%, 46%);
  --grayColor: hsl(240, 1%, 59%);

  /* Blue color */
  --blueColor1: hsl(214, 100%, 55%);
  --blueColor2: hsl(210, 100%, 65%);

  /* green color */
  --greenColor: hsl(140, 63%, 57%);

  /* green red */
  --redColor: hsl(354, 63%, 57%);

  /* green yellow */
  --yellowColor: hsl(49, 85%, 70%);

  /* Primary font size and font-family*/
  --primaryFrontFamily: "Sora", sans-serif;
  --primaryFontSize: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primaryFrontFamily);
  background-color: var(--backgroundPrimary);
  color: var(--whiteColor);
  min-height: 100vh;
}
.navbar {
  padding: 1.875rem 3.125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 90rem;
}

.top-score-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.top-score-container p {
  color: var(--grayColor);
}
.top-score-container p span {
  color: var(--whiteColor);
}

main {
  padding: 1.875rem 3.125rem;
  margin: 0 auto;
  max-width: 90rem;
}

.info-container {
  display: flex;
  align-items: center;

  gap: 5rem;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 0.063rem solid var(--grayColor);
}

.status-container {
  flex: 1;
  min-width: 18.75rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.status-container p {
  color: var(--mediumBlack);
  padding: 0 1rem 0 0;
  margin-right: 1rem;
}

.status-container p span {
  color: var(--whiteColor);
}

.status-container p:not(:last-child) {
  border-right: 0.063rem solid var(--grayColor);
}

.option-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.difficulty-container,
.mode-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.difficulty-container {
  border-right: 0.063rem solid var(--grayColor);
  height: 100%;
  padding: 0 2.5rem;
}

.difficulty-container h4,
.mode-container h4 {
  color: var(--mediumBlack);
  font-weight: normal;
}

.difficulty-container button,
.mode-container button {
  font-family: var(--primaryFrontFamily);
  padding: 0.375rem;
  outline: none;
  background: transparent;
  color: var(--whiteColor);
  border: 0.063rem solid var(--blueColor1);
  border-radius: 0.5rem;
  font-size: 0.75rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease;
}

.difficulty-container button:hover,
.mode-container button:hover,
.difficulty-container button:focus,
.mode-container button:focus {
  color: var(--blueColor2);
  border: 0.063rem solid var(--blueColor2);
}

.main-text {
  min-height: 50vh;
  font-size: 2rem;
  word-spacing: 0.063rem;
  line-height: 2.8rem;
  position: relative;
}

.restart-container {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 0.063rem solid var(--grayColor);
}

.restart-container button {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--hardBlack);
  color: var(--whiteColor);
  padding: 12px;
  font-size: 1rem;
  outline: none;
  border: none;
  border-radius: 12px;
  font-family: var(--primaryFrontFamily);
  cursor: pointer;
  transition: transform 0.3 linear;
}

.restart-container button:hover {
  transform: scale(1.05);
}

.restart-container button img {
  margin-left: 0.75rem;
  width: 1rem;
}

.start-container {
  cursor: pointer;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  position: absolute;
  top: -5%;
  left: -5%;
  right: -5%;
  bottom: -30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  -webkit-mask-image:
    linear-gradient(to top, transparent 0%, rgb(133, 133, 133) 1%),
    linear-gradient(to bottom, transparent 0%, rgb(133, 133, 133) 1%),
    linear-gradient(to left, transparent 0%, rgb(133, 133, 133) 1%),
    linear-gradient(to right, transparent 0%, rgb(133, 133, 133) 1%);
  -webkit-mask-composite: intersect;

  mask-image:
    linear-gradient(to top, transparent 0%, rgb(133, 133, 133) 1%),
    linear-gradient(to bottom, transparent 0%, rgb(133, 133, 133) 1%),
    linear-gradient(to left, transparent 0%, rgb(133, 133, 133) 1%),
    linear-gradient(to right, transparent 0%, rgb(133, 133, 133) 1%);
  mask-composite: intersect;
}

.start-container button {
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  outline: none;
  border-radius: 12px;
  color: var(--whiteColor);
  background-color: var(--blueColor1);
  font-family: var(--primaryFrontFamily);
  font-weight: 600;
  border: 1.5px solid var(--backgroundPrimary);
  box-shadow: 0px 0px 0px 2px hsl(214, 100%, 55%);
  cursor: pointer;
  transition: all .3s ease;
}

.start-container button:hover {
  border: 0;
  box-shadow: none;
  border: 1.5px solid var(--blueColor2);
  background-color: var(--blueColor2);
}

.start-container p{
  font-size: 1.2rem;
  letter-spacing: 1px;
}


















.display-none{
  display: none;
}
