@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

:root {
  /* Neutral color */
  --backgroundPrimary: hsl(0, 0%, 7%);
  --whiteColor: hsl(0, 0%, 100%);
  --hardBlack: hsl(0, 0%, 15%);
  --mediumBlack: hsl(240, 3%, 46%);
  --grayColor: hsl(240, 1%, 59%);

  /* Blue color */
  --blueColor1: hsl(214, 100%, 55%);
  --blueColor2: hsl(210, 100%, 65%);

  /* green color */
  --greenColor: hsl(140, 63%, 57%);

  /* green red */
  --redColor: hsl(354, 63%, 57%);

  /* green yellow */
  --yellowColor: hsl(49, 85%, 70%);

  /* Primary font size and font-family*/
  --primaryFrontFamily: "Sora", sans-serif;
  --primaryFontSize: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primaryFrontFamily);
  background-color: var(--backgroundPrimary);
  color: var(--whiteColor);
  min-height: 100vh;
}
.navbar {
  padding: 1.875rem 3.125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 90rem;
}

.top-score-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.top-score-container p {
  color: var(--grayColor);
}
.top-score-container p span {
  color: var(--whiteColor);
}

main {
  padding: 1.875rem 3.125rem;
  margin: 0 auto;
  max-width: 90rem;
}

.info-container {
  display: flex;
  align-items: center;

  gap: 5rem;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 0.063rem solid var(--grayColor);
}

.status-container {
  flex: 1;
  min-width: 18.75rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.status-container p {
  color: var(--mediumBlack);
  padding: 0 1rem 0 0;
  margin-right: 1rem;
}

.status-container p span {
  color: var(--whiteColor);
}

.status-container p:not(:last-child) {
  border-right: 0.063rem solid var(--grayColor);
}

.option-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.difficulty-container,
.mode-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.difficulty-container {
  border-right: 0.063rem solid var(--grayColor);
  height: 100%;
  padding: 0 2.5rem;
}

.difficulty-container h4,
.mode-container h4 {
  color: var(--mediumBlack);
  font-weight: normal;
}

.difficulty-container button,
.mode-container button {
  font-family: var(--primaryFrontFamily);
  padding: 0.375rem;
  outline: none;
  background: transparent;
  color: var(--whiteColor);
  border: 0.063rem solid var(--blueColor1);
  border-radius: 0.5rem;
  font-size: 0.75rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease;
}

.difficulty-container button:hover,
.mode-container button:hover,
.difficulty-container button:focus,
.mode-container button:focus {
  color: var(--blueColor2);
  border: 0.063rem solid var(--blueColor2);
}

.main-text {
  min-height: 50vh;
  font-size: 2rem;
  word-spacing: 0.063rem;
  line-height: 2.8rem;
  position: relative;
}

.restart-container {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 0.063rem solid var(--grayColor);
}

.restart-container button {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--hardBlack);
  color: var(--whiteColor);
  padding: 0.75rem;
  font-size: 1rem;
  outline: none;
  border: none;
  border-radius: 0.75rem;
  font-family: var(--primaryFrontFamily);
  cursor: pointer;
  transition: transform 0.3 linear;
}

.restart-container button:hover {
  transform: scale(1.05);
}

.restart-container button img {
  margin-left: 0.75rem;
  width: 1rem;
}

.start-container {
  cursor: pointer;
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
  position: absolute;
  top: -5%;
  left: -5%;
  right: -5%;
  bottom: -30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  -webkit-mask-image:
    linear-gradient(to top, transparent 0%, rgb(133, 133, 133) 1%),
    linear-gradient(to bottom, transparent 0%, rgb(133, 133, 133) 1%),
    linear-gradient(to left, transparent 0%, rgb(133, 133, 133) 1%),
    linear-gradient(to right, transparent 0%, rgb(133, 133, 133) 1%);
  -webkit-mask-composite: intersect;

  mask-image:
    linear-gradient(to top, transparent 0%, rgb(133, 133, 133) 1%),
    linear-gradient(to bottom, transparent 0%, rgb(133, 133, 133) 1%),
    linear-gradient(to left, transparent 0%, rgb(133, 133, 133) 1%),
    linear-gradient(to right, transparent 0%, rgb(133, 133, 133) 1%);
  mask-composite: intersect;
}

.start-container button {
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  outline: none;
  border-radius: 0.75rem;
  color: var(--whiteColor);
  background-color: var(--blueColor1);
  font-family: var(--primaryFrontFamily);
  font-weight: 600;
  border: 1px solid var(--backgroundPrimary);
  box-shadow: 0px 0px 0px 0.1rem hsl(214, 100%, 55%);
  cursor: pointer;
  transition: all 0.3s ease;
}

.start-container button:hover {
  border: 0;
  box-shadow: none;
  border: 1px solid var(--blueColor2);
  background-color: var(--blueColor2);
}

.start-container p {
  font-size: 1.2rem;
  letter-spacing: 0.063rem;
}

.test-completed {
  padding: 1.875rem 3.125rem;
  margin: 0 auto;
  max-width: 90rem;
  display: flex;
  justify-content: space-between;
}

.test-con-one {
  flex: 1;
  padding-top: 3.75rem;
}

.test-con-last {
  flex: 1;
  align-content: end;
  text-align: right;
  padding-bottom: 3.75rem;
}

.test-con {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.test-message img {
  margin-bottom: 1rem;
}

.test-message h1 {
  font-weight: 500;
  letter-spacing: 1px;
}

.test-message p {
  font-weight: normal;
  font-size: 16px;
  margin: 1rem 0;
  color: var(--grayColor);
}

.test-result-container {
  display: flex;
  gap: 2rem;
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 4rem;
  width: 70%;
  justify-content: space-evenly;
}

.result-container {
  border: 1px solid var(--mediumBlack);
  padding: 1rem;
  width: 130px;
  border-radius: 6px;
}

.test-accuracy,
.test-character,
.test-wmp {
  font-weight: 600;
}

.wmp,
.acc,
.char {
  color: var(--grayColor);
  margin-bottom: 5px;
}

.test-accuracy {
  color: var(--redColor);
}

.test-character {
  color: var(--greenColor);
}

.test-character .mistake {
  color: var(--redColor);
}

.test-btn-container button {
  background: var(--whiteColor);
  padding: 0.8rem;
  display: flex;
  align-items: center;
  color: var(--backgroundPrimary);
  font-family: var(--primaryFrontFamily);
  font-weight: 600;

  border: none;
  outline: none;
  border-radius: 8px;

  font-size: 1rem;

  cursor: pointer;

  transition: all 0.3s ease;
}

.test-btn-container button img {
  margin-left: 8px;
  width: 15px;
  filter: brightness(0%);
}

.test-btn-container button:hover {
  opacity: 0.8;
}



.high-score-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.score-info-container {
  margin-bottom: 2.5rem;
}

.score-info-container h1 {
  margin: 1rem 0;
  letter-spacing: 1px;
  color: var(--whiteColor);
}

.score-info-container p {
  color: var(--grayColor);
}

.score-new-best {
  display: flex;
  gap: 2rem;
  margin-bottom: 3rem;
  text-align: left;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-container button {
  font-family: var(--primaryFrontFamily);
  background-color: var(--whiteColor);
  padding: 0.8rem;
  display: flex;
  align-items: center;
  border-radius: 12px;
  color: var(--backgroundPrimary);
  font-weight: 600;
  border: none;
  outline: none;
  transition: 0.3s ease;
  cursor: pointer;
}

.btn-container button:hover {
  opacity: 0.8;
}

.btn-container button img {
  width: 16px;
  margin-left: 8px;
  filter: brightness(0%);
  
}

.img-container-highscore{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -999999;
}

.img-container-highscore img{
  width: 100%;
  background-size: cover;
}


.display-none {
  display: none;
}
